# NGC8 - DDL, DML, & Basic DQL
Nama: Basyira Sabita  
Batch: HCK-12

## Introduction

The introduction section must contain the identity, background of the problem, and the problem statement to be discussed.

## Import Libraries

The first cell in the notebook must contain and only contain all the libraries used in the project.

In [1]:
import pandas as pd

## Data Loading

This section contains the queries that have been created and the data loading process, followed by simple data exploration.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/data_ngc.csv')

df

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"

## Data Cleaning

This section contains the data preparation process, such as data cleaning, before further data exploration. The cleaning process may include assigning new names to each column, filling in missing values, deleting unused columns, and so on.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  9078 non-null   object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  fips            0 non-null      float64
 11  admin2          0 non-null      float64
 12  combined_key    11793 non-null  object
dtypes: float64(8), object(5)
memory usage: 1.2+ MB

## Data Exploration

This section contains data exploration on the dataset above using queries, grouping, and so on.

## Conclusion

In this final section, there must be conclusions that reflect the results obtained by comparing them with the problem statement written in the introduction section.